.table {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 5%;
}
.table-body {
  background-color: white;
  border-radius: 10px;
}
.table-header {
  font-weight: bold !important;
}
.MuiButton-containedPrimary {
  height: 3.4rem;
  margin-left: 1rem !important;
  padding-right: 57px !important;
  background-image: linear-gradient(
    109.6deg,
    rgba(39, 142, 255, 1) 11.2%,
    rgba(98, 113, 255, 0.78) 100.2%
  );
  font-weight: bold !important;
}

.MuiOutlinedInput-input {
  padding-right: 57px !important;
  background-color: white !important;
}

.gradient-title {
  margin-bottom: 1em;
  background-image: linear-gradient(
    105.3deg,
    rgba(30, 39, 107, 1) 21.8%,
    rgba(77, 118, 221, 1) 100.2%
  );
  /* Set the background size and repeat properties. */
  background-size: 100%;
  background-repeat: repeat;

  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  /* Animate the text when loading the element. */
  /* This animates it on page load and when hovering out. */
  animation: rainbow-text-simple-animation-rev 0.75s ease forwards;
}
